body {
    margin: 0;
    background: linear-gradient(to bottom, #000, #ffffff);
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 56px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    gap: 20px;
}

.left-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    border: 3px solid #ff0000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px #ff0000;
    position: relative;
}

.countdown::before, .countdown::after {
    content: "";
    position: absolute;
    background: #ff0000;
    border-radius: 50%;
    animation: drip 3s infinite ease-in-out;
}

.countdown::before {
    top: -10px;
    left: 10px;
    width: 15px;
    height: 15px;
    animation-delay: 0.5s;
}

.countdown::after {
    bottom: -10px;
    right: 10px;
    width: 15px;
    height: 15px;
    animation-delay: 1s;
}

@keyframes drip {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(15px) scale(1.5);
        opacity: 0.7;
    }
    100% {
        transform: translateY(30px) scale(2);
        opacity: 0;
    }
}

.creative-section {
    text-align: center;
    margin-top: 20px;
    color: #ff0000;
}

.right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    border: 3px solid #ff0000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px #ff0000;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ff0000;
    box-shadow: 0 0 10px #ff0000;
}

.bio h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.graph {
    background: #111;
    border: 15px solid #ff0000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px #ff0000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: #ff0000;
    margin-bottom: 10px;
}

canvas {
    background: #000;
    border-radius: 20px;
}

h1, h2, h3 {
    font-size: 96px;
}

#deadpool-gif {
    position: absolute;
    bottom: 200px;
    left: 200px;
    width: 1000px;
    height: 1000px;
    z-index: 10;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 20px;
    display: none;
}

#popup h1 {
    font-size: 48px;
    color: white;
}

#popup button {
    font-size: 32px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #ff0000;
    color: white;
}
